<app-menu-agent></app-menu-agent>
<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Nouveau Patient</h2>
                <p class="text-white-50 mb-5">Renseignez les informations du patient</p>
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeLastNameX">Nom</label>
                  <input type="text" id="typeLastNameX" placeholder="Entrer le nom" class="form-control form-control-lg " />
                </div>
                
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeSurnameX">Prenom</label>
                    <input type="text" id="typeSurnameX" placeholder="Entrer le Prenom" class="form-control form-control-lg" />
                  </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeBirthDateX">Date de Naissance</label>
                  <input type="date" id="typeBirthDateX" class="form-control form-control-lg" />
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeAddressX">Adresse</label>
                    <input type="text" id="typeAddressX" placeholder="Entrer l'adresse" class="form-control form-control-lg" />
                  </div>
                  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePhoneX">Téléphone</label>
                    <input type="tel" id="typePhoneX" placeholder="Entrer le numéro de téléphone" class="form-control form-control-lg" />
                  </div>
                  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeUsernameX">Username</label>
                    <input type="text" id="typeUsernameX" placeholder="Entrer le login" class="form-control form-control-lg " />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Mot de Passe</label>
                    <input type="text" id="typePasswordX" placeholder="Entrer le mot de passe" class="form-control form-control-lg " />
                  </div>
                
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Enregistrer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>